.form-container {
    display: flex;
    box-sizing: border-box;
    border: 2px solid grey;
    width: 370px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#article-form {
    margin: 30px;
}

.form-inputs {
    display: flex;
}

.form-inputs input, select {
    margin-right: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.form-inputs p {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: small;
    color: red;
}

#button {
    display: flex;
    margin-top: 10px;
}