.article:hover {
    color: yellow;
    cursor: pointer;
}

.article {
    border: 1px solid grey;
    padding: 10px;
    margin-bottom: 20px;
    list-style: none;
    width: 750px;
}

.article-link:link {
    color: rgba(255, 255, 255, 0.87);
}

.article-link:visited {
    color: rgba(255, 255, 255, 0.87);
}

.article-link {
    text-decoration: none; 
}

.display-article {
    pointer-events: none;
}

.tags {
    display: inline;
    list-style: none;
    margin-left: 50px;
}