.button-container {
    display: flex;
    box-sizing: border-box;
    border: 2px solid grey;
    width: 370px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#logout {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    width: 205px;
}

#logout-label {
    margin: 20px 10px 20px 20px;
    width: 110px;
}