.article-list .article:hover {
    color: yellow;
    border: 1px solid yellow;
    cursor: pointer;
}

.article {
    margin-left: 20px;
}

.article-link:link {
    color: rgba(255, 255, 255, 0.87);
}

.article-link:visited {
    color: rgba(255, 255, 255, 0.87);
}

.article-link {
    text-decoration: none;
}

.user-info {
    pointer-events: none;
    border: 1px solid grey;
    padding: 10px;
    width: 500px;
    margin-bottom: 30px;
}